/* font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  background-color: rgba(243, 229, 225, 1);
}

a {
  text-decoration: none; /* menghilangkan garis bawah */
  color: #333; /* mengubah warna teks tautan */
}

#index {
  min-height: 50vh;
  margin-top: 30px;
}

/* Tinggi Card profile */
.t-card {
  height: 90%;
}

/* Card Profile */
.card {
  background: #e3cec8;
  border-radius: 20px;
}

/* Card Fitur */
.card-f {
  height: 60px;
  width: 100%;
  border-bottom: 2px solid rgba(51, 49, 49, 0.377);
}

/* card-produk */
.card-produk {
  min-height: 100px;
  width: 100%;
  border-radius: 10px;
  background-color: #ffffff;
}

.card-produk .tp1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  /* line-height: 36px; */
  /* identical to box height */

  color: #000000;
}
.card-produk .tp2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* line-height: 24px; */
  /* identical to box height */

  color: #5f5f5f;
}
.card-produk .tp3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  /* line-height: 18px; */
  /* identical to box height */

  color: #5f5f5f;
}

/* text-profile */
#index .profile .name-user p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}
#index .profile .kategori p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */

  color: #000000;
}

/* text-element*/
#index .element p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 48px;
  color: #000000;
}

/* Title Pesan */
.title-pesan {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */

  color: #000000;
}

.title-pesan2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */

  color: #8a8080;
}

.pesan-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #000000;
}

.pesan-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  /* identical to box height */

  color: #8a8080;
}

.pesan-date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}

/* modal */
.modal-body {
  background: rgba(227, 206, 200, 1);
  border-radius: 6px;
}
  
/* Button Color */
.btn-color {
  background-color: rgb(181, 157, 150);
}
